* {
  font-family: 'Nunito Sans', sans-serif;
}

.light {
  --text-color: hsl(200, 15%, 8%);
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  --background-color: hsl(0, 0%, 98%);
  --background-color-element: hsl(0, 0%, 100%);
}

.dark {
  --text-color: hsl(0, 0%, 100%);
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  --background-color: hsl(207, 26%, 17%);
  --background-color-element: hsl(209, 23%, 22%);
}

.light,
.dark {
  color: var(--text-color);
  background-color: var(--background-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 70px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-element);
  margin-bottom: 4rem;
}

.header h4 {
  font-weight: 600;
  color: var(--text-color);
}

.switch__mode {
  color: var(--text-color);
  cursor: pointer;
}